@using Assignments.Areas.Ticketing.Models;
@model TicketViewModel

@{
    ViewData["Title"] = "Add new ticket";
}

<h2>New Ticket</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="CurrentTicket.Name">Name:</label>
        <input type="text" asp-for="CurrentTicket.Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CurrentTicket.Description">Description:</label>
        <input type="text" asp-for="CurrentTicket.Description" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CurrentTicket.PointValue">Point Value:</label>
        <input type="number" asp-for="CurrentTicket.PointValue" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CurrentTicket.SprintNumber">Sprint Number:</label>
        <input type="number" asp-for="CurrentTicket.SprintNumber" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CurrentTicket.StatusId">Status:</label>
        <select asp-for="CurrentTicket.StatusId" class="form-control"
                asp-items="@(new SelectList(Model.Statuses, "StatusId", "Name"))">
            <option value=""></option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Tickets" class="btn btn-primary">Cancel</a>
</form>
